/*
colors for link
dark-green: #049a04
light-green: #2cbe04
yellow: #f4e60c
sienna: #9c6634
grey-sienna: #845e44
dark-brown: #3c2a04
black: #000000
red: #e40204
white: #ffffff
skin: #fccea4
*/

.link {
    position: relative;
    left: 300px;
    top: 300px;
}

@keyframes attack {
    from {box-shadow:
        /* column 0 */
        0 -1em #049a04,

        /* column 1 */
        1em -1em #049a04,
        1em 0 #049a04,
        1em 1em #000000,

        /* column 2 */
        2em -1em #049a04,
        2em 0 #049a04,
        2em 1em #000000,
        
        /* column 3 */
        3em -2em #049a04,
        3em -1em #2cbe04,
        3em 0 #049a04,
        3em 1em #000000,
        
        /* column 4 */
        4em -2em #049a04,
        4em -1em #2cbe04,
        4em 0 #049a04,
        4em 1em #000000,
        
        /* column 5 */
        5em -3em #049a04,
        5em -2em #2cbe04,
        5em -1em #2cbe04,
        5em 0 #049a04,
        5em 1em #000000,
        5em 2em #000000,
        5em 3em #000000,
        5em 4em #000000,
        5em 5em #000000,
        5em 9em #000000,
        5em 10em #000000,
        5em 11em #000000,
        
        /* column 6 */
        6em -4em #049a04,
        6em -3em #2cbe04,
        6em -2em #2cbe04,
        6em -1em #049a04,
        6em 0 #049a04,
        6em 1em #049a04,
        6em 2em #000000,
        6em 3em #9c6634,
        6em 4em #9c6634,
        6em 5em #9c6634,
        6em 6em #000000,
        6em 8em #000000,
        6em 9em #e40204,
        6em 10em #e40204,
        6em 11em #e40204,
        6em 12em #000000,
        
        /* column 7 */
        7em -5em #049a04,
        7em -4em #2cbe04,
        7em -3em #2cbe04,
        7em -2em #2cbe04,
        7em -1em #2cbe04,
        7em 0 #049a04,
        7em 1em #049a04,
        7em 2em #049a04,
        7em 3em #000000,
        7em 4em #000000,
        7em 5em #9c6634,
        7em 6em #9c6634,
        7em 7em #000000,
        7em 8em #000000,
        7em 9em #000000,
        7em 10em #000000,
        7em 11em #e40204,
        7em 12em #000000,
        
        /* column 8 */
        8em -5em #049a04,
        8em -4em #2cbe04,
        8em -3em #2cbe04,
        8em -2em #2cbe04,
        8em -1em #2cbe04,
        8em 0 #2cbe04,
        8em 1em #049a04,
        8em 2em #049a04,
        8em 3em #000000,
        8em 4em #000000,
        8em 5em #9c6634,
        8em 6em #000000,
        8em 7em #000000,
        8em 8em #049a04,
        8em 9em #2cbe04,
        8em 10em #049a04,
        8em 11em #000000,
        
        /*column 9*/
        9em -5em #049a04,
        9em -4em #2cbe04,
        9em -3em #2cbe04,
        9em -2em #2cbe04,
        9em -1em #2cbe04,
        9em 0 #049a04,
        9em 1em #fccea4,
        9em 2em #fccea4,
        9em 3em #9c6634,
        9em 4em #000000,
        9em 5em #000000,
        9em 6em #000000,
        9em 7em #000000,
        9em 8em #2cbe04,
        9em 9em #845e44,
        9em 10em #2cbe04,
        9em 11em #049a04,
        9em 12em #000000,
        
        /* column 10 */
        10em -5em #049a04,
        10em -4em #2cbe04,
        10em -3em #2cbe04,
        10em -2em #2cbe04,
        10em -1em #2cbe04,
        10em 0 #049a04,
        10em 1em #fccea4,
        10em 2em #fccea4,
        10em 3em #fccea4,
        10em 4em #9c6634,
        10em 5em #3c2a04,
        10em 6em #049a04,
        10em 7em #2cbe04,
        10em 8em #2cbe04,
        10em 9em #2cbe04,
        10em 10em #845e44,
        10em 11em #2cbe04,
        10em 12em #000000,
        
        /* column 11 */
        11em -6em #049a04,
        11em -5em #049a04,
        11em -4em #2cbe04,
        11em -3em #2cbe04,
        11em -2em #2cbe04,
        11em -1em #2cbe04,
        11em 0 #2cbe04,
        11em 1em #049a04,
        11em 2em #fccea4,
        11em 3em #fccea4,
        11em 4em #3c2a04,
        11em 5em #3c2a04,
        11em 6em #000000,
        11em 7em #049a04,
        11em 8em #2cbe04,
        11em 9em #2cbe04,
        11em 10em #845e44,
        11em 11em #2cbe04,
        11em 12em #000000,
        
        /* column 12 */
        12em -6em #049a04,
        12em -5em #049a04,
        12em -4em #2cbe04,
        12em -3em #2cbe04,
        12em -2em #2cbe04,
        12em -1em #2cbe04,
        12em 0 #2cbe04,
        12em 1em #3c2a04,
        12em 2em #3c2a04,
        12em 3em #3c2a04,
        12em 4em #f4e60c,
        12em 5em #f4e60c,
        12em 6em #fccea4,
        12em 7em #000000,
        12em 8em #049a04,
        12em 9em #2cbe04,
        12em 10em #845e44,
        12em 11em #2cbe04,
        12em 12em #000000,
        
        /* column 13 */
        13em -6em #049a04,
        13em -5em #049a04,
        13em -4em #2cbe04,
        13em -3em #2cbe04,
        13em -2em #2cbe04,
        13em -1em #f4e60c,
        13em 0 #f4e60c,
        13em 1em #f4e60c,
        13em 2em #f4e60c,
        13em 3em #f4e60c,
        13em 4em #f4e60c,
        13em 5em #000000,
        13em 6em #000000,
        13em 7em #049a04,
        13em 8em #049a04,
        13em 9em #049a04,
        13em 10em #845e44,
        13em 11em #2cbe04,
        13em 12em #000000,
        
        /* column 14 */
        14em -6em #049a04,
        14em -5em #049a04,
        14em -4em #2cbe04,
        14em -3em #f4e60c,
        14em -2em #f4e60c,
        14em -1em #f4e60c,
        14em 0 #f4e60c,
        14em 1em #fccea4,
        14em 2em #845e44,
        14em 3em #000000,
        14em 4em #000000,
        14em 5em #845e44,
        14em 6em #000000,
        14em 7em #2cbe04,
        14em 8em #2cbe04,
        14em 9em #049a04,
        14em 10em #2cbe04,
        14em 11em #2cbe04,
        14em 12em #000000,
        
        /*column 15*/
        15em -6em #049a04,
        15em -5em #049a04,
        15em -4em #049a04,
        15em -3em #f4e60c,
        15em -2em #f4e60c,
        15em -1em #9c6634,
        15em 0 #fccea4,
        15em 1em #fccea4,
        15em 2em #fccea4,
        15em 3em #fccea4,
        15em 4em #fccea4,
        15em 5em #fccea4,
        15em 6em #000000,
        15em 7em #2cbe04,
        15em 8em #2cbe04,
        15em 9em #049a04,
        15em 10em #2cbe04,
        15em 11em #000000,
        15em 12em #e40204,
        15em 13em #000000,
        
        /*column 16*/
        16em -6em #049a04,
        16em -5em #049a04,
        16em -4em #049a04,
        16em -3em #f4e60c,
        16em -2em #f4e60c,
        16em -1em #fccea4,
        16em 0 #fccea4,
        16em 1em #fccea4,
        16em 2em #fccea4,
        16em 3em #fccea4,
        16em 4em #fccea4,
        16em 5em #fccea4,
        16em 6em #000000,
        16em 7em #2cbe04,
        16em 8em #2cbe04,
        16em 9em #049a04,
        16em 10em #000000,
        16em 11em #e40204,
        16em 12em #e40204,
        16em 13em #000000,
        
        /* column 17 */
        17em -5em #000000,
        17em -4em #f4e60c,
        17em -3em #f4e60c,
        17em -2em #9c6634,
        17em -1em #fccea4,
        17em 0 #fccea4,
        17em 1em #000000,
        17em 2em #ffffff,
        17em 3em #ffffff,
        17em 4em #fccea4,
        17em 5em #fccea4,
        17em 6em #000000,
        17em 7em #049a04,
        17em 8em #2cbe04,
        17em 9em #000000,
        17em 10em #000000,
        17em 11em #e40204,
        17em 12em #e40204,
        17em 13em #000000,
        
        /* column 18 */
        18em -5em #000000,
        18em -4em #f4e60c,
        18em -3em #f4e60c,
        18em -2em #f4e60c,
        18em -1em #000000,
        18em 0 #fccea4,
        18em 1em #9c6634,
        18em 2em #2cbe04,
        18em 3em #2cbe04,
        18em 4em #fccea4,
        18em 5em #000000,
        18em 6em #9c6634,
        18em 7em #fccea4,
        18em 8em #fccea4,
        18em 9em #9c6634,
        18em 10em #000000,
        18em 11em #e40204,
        18em 12em #e40204,
        18em 13em #000000,
        
        /* column 19 */
        19em -5em #000000,
        19em -4em #f4e60c,
        19em -3em #f4e60c,
        19em -2em #f4e60c,
        19em -1em #000000,
        19em 0 #000000,
        19em 1em #000000,
        19em 2em #fccea4,
        19em 3em #fccea4,
        19em 4em #000000,
        19em 6em #9c6634,
        19em 7em #fccea4,
        19em 8em #fccea4,
        19em 9em #9c6634,
        19em 11em #000000,
        19em 12em #000000,
        19em 13em #000000,
        
        /* column 20 */
        20em -5em #000000,
        20em -4em #f4e60c,
        20em -3em #f4e60c,
        20em -2em #000000,
        20em 2em #000000,
        20em 3em #000000,
        20em 5em #000000,
        20em 6em #000000,
        20em 7em #fccea4,
        20em 8em #9c6634,
        20em 9em #9c6634,
        20em 12em #000000,
        20em 13em #000000,
        
        /* column 21 */
        21em -5em #000000,
        21em -4em #000000,
        21em -3em #000000,
        21em 4em #000000,
        21em 5em #ffffff,
        21em 6em #000000,
        21em 7em #000000,
        21em 8em #9c6634,
        
        /* column 22 */
        22em 3em #000000,
        22em 4em #ffffff,
        22em 5em #ffffff,
        22em 6em #ffffff,
        22em 7em #000000,
        22em 8em #000000,
        
        /*column 23 */
        23em 2em #000000,
        23em 3em #ffffff,
        23em 4em #ffffff,
        23em 5em #ffffff,
        23em 6em #000000,
        23em 8em #000000,
        23em 9em #000000,
        
        /*column 24 */
        24em 1em #000000,
        24em 2em #ffffff,
        24em 3em #ffffff,
        24em 4em #ffffff,
        24em 5em #000000,
        
        /*column 25 */
        25em 0 #000000,
        25em 1em #ffffff,
        25em 2em #ffffff,
        25em 3em #ffffff,
        25em 4em #000000,
        
        /*column 26 */
        26em 0 #000000,
        26em 1em #ffffff,
        26em 2em #ffffff,
        26em 3em #000000,
        
        /*column 27 */
        27em 0 #000000,
        27em 1em #000000,
        27em 2em #000000;}
    to {box-shadow:
        /* column 0 */
        0 -1em #049a04,

        /* column 1 */
        1em -1em #049a04,
        1em 0 #049a04,
        1em 1em #000000,

        /* column 2 */
        2em -1em #049a04,
        2em 0 #049a04,
        2em 1em #000000,
        
        /* column 3 */
        3em -2em #049a04,
        3em -1em #2cbe04,
        3em 0 #049a04,
        3em 1em #000000,
        
        /* column 4 */
        4em -2em #049a04,
        4em -1em #2cbe04,
        4em 0 #049a04,
        4em 1em #000000,
        
        /* column 5 */
        5em -3em #049a04,
        5em -2em #2cbe04,
        5em -1em #2cbe04,
        5em 0 #049a04,
        5em 1em #049a04,
        5em 2em #000000,
        5em 3em #000000,
        5em 4em #000000,
        5em 5em #000000,
        5em 9em #000000,
        5em 10em #000000,
        5em 11em #000000,
        
        /* column 6 */
        6em -4em #049a04,
        6em -3em #2cbe04,
        6em -2em #2cbe04,
        6em -1em #049a04,
        6em 0 #049a04,
        6em 1em #049a04,
        6em 2em #000000,
        6em 3em #9c6634,
        6em 4em #9c6634,
        6em 5em #9c6634,
        6em 6em #000000,
        6em 8em #000000,
        6em 9em #e40204,
        6em 10em #e40204,
        6em 11em #e40204,
        6em 12em #000000,
        
        /* column 7 */
        7em -5em #049a04,
        7em -4em #2cbe04,
        7em -3em #2cbe04,
        7em -2em #2cbe04,
        7em -1em #2cbe04,
        7em 0 #049a04,
        7em 1em #049a04,
        7em 2em #049a04,
        7em 3em #000000,
        7em 4em #000000,
        7em 5em #9c6634,
        7em 6em #9c6634,
        7em 7em #000000,
        7em 8em #000000,
        7em 9em #000000,
        7em 10em #000000,
        7em 11em #e40204,
        7em 12em #000000,
        
        /* column 8 */
        8em -5em #049a04,
        8em -4em #2cbe04,
        8em -3em #2cbe04,
        8em -2em #2cbe04,
        8em -1em #2cbe04,
        8em 0 #2cbe04,
        8em 1em #049a04,
        8em 2em #049a04,
        8em 3em #000000,
        8em 4em #000000,
        8em 5em #9c6634,
        8em 6em #000000,
        8em 7em #000000,
        8em 8em #049a04,
        8em 9em #2cbe04,
        8em 10em #049a04,
        8em 11em #000000,
        
        /*column 9*/
        9em -5em #049a04,
        9em -4em #2cbe04,
        9em -3em #2cbe04,
        9em -2em #2cbe04,
        9em -1em #2cbe04,
        9em 0 #049a04,
        9em 1em #fccea4,
        9em 2em #fccea4,
        9em 3em #9c6634,
        9em 4em #000000,
        9em 5em #000000,
        9em 6em #000000,
        9em 7em #000000,
        9em 8em #2cbe04,
        9em 9em #845e44,
        9em 10em #2cbe04,
        9em 11em #049a04,
        9em 12em #000000,
        
        /* column 10 */
        10em -5em #049a04,
        10em -4em #2cbe04,
        10em -3em #2cbe04,
        10em -2em #2cbe04,
        10em -1em #2cbe04,
        10em 0 #049a04,
        10em 1em #fccea4,
        10em 2em #fccea4,
        10em 3em #fccea4,
        10em 4em #9c6634,
        10em 5em #3c2a04,
        10em 6em #049a04,
        10em 7em #2cbe04,
        10em 8em #2cbe04,
        10em 9em #2cbe04,
        10em 10em #845e44,
        10em 11em #2cbe04,
        10em 12em #000000,
        
        /* column 11 */
        11em -6em #049a04,
        11em -5em #049a04,
        11em -4em #2cbe04,
        11em -3em #2cbe04,
        11em -2em #2cbe04,
        11em -1em #2cbe04,
        11em 0 #2cbe04,
        11em 1em #049a04,
        11em 2em #fccea4,
        11em 3em #fccea4,
        11em 4em #3c2a04,
        11em 5em #3c2a04,
        11em 6em #000000,
        11em 7em #049a04,
        11em 8em #2cbe04,
        11em 9em #2cbe04,
        11em 10em #845e44,
        11em 11em #2cbe04,
        11em 12em #000000,
        
        /* column 12 */
        12em -6em #049a04,
        12em -5em #049a04,
        12em -4em #2cbe04,
        12em -3em #2cbe04,
        12em -2em #2cbe04,
        12em -1em #2cbe04,
        12em 0 #2cbe04,
        12em 1em #3c2a04,
        12em 2em #3c2a04,
        12em 3em #3c2a04,
        12em 4em #f4e60c,
        12em 5em #f4e60c,
        12em 6em #fccea4,
        12em 7em #000000,
        12em 8em #049a04,
        12em 9em #2cbe04,
        12em 10em #845e44,
        12em 11em #2cbe04,
        12em 12em #000000,
        
        /* column 13 */
        13em -6em #049a04,
        13em -5em #049a04,
        13em -4em #2cbe04,
        13em -3em #2cbe04,
        13em -2em #2cbe04,
        13em -1em #f4e60c,
        13em 0 #f4e60c,
        13em 1em #f4e60c,
        13em 2em #f4e60c,
        13em 3em #f4e60c,
        13em 4em #f4e60c,
        13em 5em #000000,
        13em 6em #000000,
        13em 7em #049a04,
        13em 8em #049a04,
        13em 9em #049a04,
        13em 10em #845e44,
        13em 11em #2cbe04,
        13em 12em #000000,
        
        /* column 14 */
        14em -6em #049a04,
        14em -5em #049a04,
        14em -4em #2cbe04,
        14em -3em #f4e60c,
        14em -2em #f4e60c,
        14em -1em #f4e60c,
        14em 0 #f4e60c,
        14em 1em #fccea4,
        14em 2em #845e44,
        14em 3em #000000,
        14em 4em #000000,
        14em 5em #845e44,
        14em 6em #000000,
        14em 7em #2cbe04,
        14em 8em #2cbe04,
        14em 9em #049a04,
        14em 10em #2cbe04,
        14em 11em #2cbe04,
        14em 12em #000000,
        
        /*column 15*/
        15em -6em #049a04,
        15em -5em #049a04,
        15em -4em #049a04,
        15em -3em #f4e60c,
        15em -2em #f4e60c,
        15em -1em #9c6634,
        15em 0 #fccea4,
        15em 1em #fccea4,
        15em 2em #fccea4,
        15em 3em #fccea4,
        15em 4em #fccea4,
        15em 5em #fccea4,
        15em 6em #000000,
        15em 7em #2cbe04,
        15em 8em #2cbe04,
        15em 9em #049a04,
        15em 10em #2cbe04,
        15em 11em #000000,
        15em 12em #e40204,
        15em 13em #000000,
        
        /*column 16*/
        16em -6em #049a04,
        16em -5em #049a04,
        16em -4em #049a04,
        16em -3em #f4e60c,
        16em -2em #f4e60c,
        16em -1em #fccea4,
        16em 0 #fccea4,
        16em 1em #fccea4,
        16em 2em #fccea4,
        16em 3em #fccea4,
        16em 4em #fccea4,
        16em 5em #fccea4,
        16em 6em #000000,
        16em 7em #2cbe04,
        16em 8em #2cbe04,
        16em 9em #049a04,
        16em 10em #000000,
        16em 11em #e40204,
        16em 12em #e40204,
        16em 13em #000000,
        
        /* column 17 */
        17em -5em #000000,
        17em -4em #f4e60c,
        17em -3em #f4e60c,
        17em -2em #9c6634,
        17em -1em #fccea4,
        17em 0 #fccea4,
        17em 1em #000000,
        17em 2em #ffffff,
        17em 3em #ffffff,
        17em 4em #fccea4,
        17em 5em #fccea4,
        17em 6em #000000,
        17em 7em #049a04,
        17em 8em #2cbe04,
        17em 9em #000000,
        17em 10em #000000,
        17em 11em #e40204,
        17em 12em #e40204,
        17em 13em #000000,
        
        /* column 18 */
        18em -5em #000000,
        18em -4em #f4e60c,
        18em -3em #f4e60c,
        18em -2em #f4e60c,
        18em -1em #000000,
        18em 0 #fccea4,
        18em 1em #9c6634,
        18em 2em #2cbe04,
        18em 3em #2cbe04,
        18em 4em #fccea4,
        18em 5em #000000,
        18em 6em #9c6634,
        18em 7em #fccea4,
        18em 8em #fccea4,
        18em 9em #9c6634,
        18em 10em #000000,
        18em 11em #e40204,
        18em 12em #e40204,
        18em 13em #000000,
        
        /* column 19 */
        19em -5em #000000,
        19em -4em #f4e60c,
        19em -3em #f4e60c,
        19em -2em #f4e60c,
        19em -1em #000000,
        19em 0 #000000,
        19em 1em #000000,
        19em 2em #fccea4,
        19em 3em #fccea4,
        19em 4em #000000,
        19em 6em #9c6634,
        19em 7em #fccea4,
        19em 8em #fccea4,
        19em 9em #9c6634,
        19em 11em #000000,
        19em 12em #000000,
        19em 13em #000000,
        
        /* column 20 */
        20em -5em #000000,
        20em -4em #f4e60c,
        20em -3em #f4e60c,
        20em -2em #000000,
        20em 2em #000000,
        20em 3em #000000,
        20em 6em #000000,
        20em 7em #000000,
        20em 8em #000000,
        20em 9em #000000,
        20em 12em #000000,
        20em 13em #000000,
        
        /* column 21 */
        21em -5em #000000,
        21em -4em #000000,
        21em -3em #000000,
        21em 5em #000000,
        21em 6em #000000,
        21em 7em #000000,
        21em 8em #000000,
        21em 9em #000000,
        21em 10em #000000,
        
        /* column 22 */
        22em 6em #000000,
        22em 7em #000000,
        22em 8em #000000,
        22em 9em #000000,
        
        /*column 23 */
        23em 6em #000000,
        23em 7em #ffffff,
        23em 8em #ffffff,
        23em 9em #000000,
        
        /*column 24 */
        24em 6em #000000,
        24em 7em #ffffff,
        24em 8em #ffffff,
        24em 9em #000000,
        
        /*column 25 */
        25em 6em #000000,
        25em 7em #ffffff,
        25em 8em #ffffff,
        25em 9em #000000,
        
        /*column 26 */
        26em 6em #000000,
        26em 7em #ffffff,
        26em 8em #ffffff,
        26em 9em #000000,
        
        /*column 27 */
        27em 6em #000000,
        27em 7em #ffffff,
        27em 8em #ffffff,
        27em 9em #000000,
        
        /*column 28 */
        28em 6em #000000,
        28em 7em #ffffff,
        28em 8em #ffffff,
        28em 9em #000000,
        
        /*column 29 */
        29em 6em #000000,
        29em 7em #ffffff,
        29em 8em #ffffff,
        29em 9em #000000,
        
        /* column 30 */
        30em 7em #000000,
        30em 8em #000000;}
}

.link-attacking {
    height: 7px;
    width: 7px;
    font-size: 7px;
    background: #000000;
    animation-name: attack;
    animation-duration: 0.09s;
}

.link-resting {
    height: 7px;
    width: 7px;
    font-size: 7px;
    background: #000000;    

    box-shadow:
        /* column 0 */
        0 -1em #049a04,

        /* column 1 */
        1em -1em #049a04,
        1em 0 #049a04,
        1em 1em #000000,

        /* column 2 */
        2em -1em #049a04,
        2em 0 #049a04,
        2em 1em #000000,
        
        /* column 3 */
        3em -2em #049a04,
        3em -1em #2cbe04,
        3em 0 #049a04,
        3em 1em #000000,
        
        /* column 4 */
        4em -2em #049a04,
        4em -1em #2cbe04,
        4em 0 #049a04,
        4em 1em #000000,
        
        /* column 5 */
        5em -3em #049a04,
        5em -2em #2cbe04,
        5em -1em #2cbe04,
        5em 0 #049a04,
        5em 1em #049a04,
        5em 2em #000000,
        5em 3em #000000,
        5em 4em #000000,
        5em 5em #000000,
        5em 9em #000000,
        5em 10em #000000,
        5em 11em #000000,
        
        /* column 6 */
        6em -4em #049a04,
        6em -3em #2cbe04,
        6em -2em #2cbe04,
        6em -1em #049a04,
        6em 0 #049a04,
        6em 1em #049a04,
        6em 2em #000000,
        6em 3em #9c6634,
        6em 4em #9c6634,
        6em 5em #9c6634,
        6em 6em #000000,
        6em 8em #000000,
        6em 9em #e40204,
        6em 10em #e40204,
        6em 11em #e40204,
        6em 12em #000000,
        
        /* column 7 */
        7em -5em #049a04,
        7em -4em #2cbe04,
        7em -3em #2cbe04,
        7em -2em #2cbe04,
        7em -1em #2cbe04,
        7em 0 #049a04,
        7em 1em #049a04,
        7em 2em #049a04,
        7em 3em #000000,
        7em 4em #000000,
        7em 5em #9c6634,
        7em 6em #9c6634,
        7em 7em #000000,
        7em 8em #000000,
        7em 9em #000000,
        7em 10em #000000,
        7em 11em #e40204,
        7em 12em #000000,
        
        /* column 8 */
        8em -5em #049a04,
        8em -4em #2cbe04,
        8em -3em #2cbe04,
        8em -2em #2cbe04,
        8em -1em #2cbe04,
        8em 0 #2cbe04,
        8em 1em #049a04,
        8em 2em #049a04,
        8em 3em #000000,
        8em 4em #000000,
        8em 5em #9c6634,
        8em 6em #000000,
        8em 7em #000000,
        8em 8em #049a04,
        8em 9em #2cbe04,
        8em 10em #049a04,
        8em 11em #000000,
        
        /*column 9*/
        9em -5em #049a04,
        9em -4em #2cbe04,
        9em -3em #2cbe04,
        9em -2em #2cbe04,
        9em -1em #2cbe04,
        9em 0 #049a04,
        9em 1em #fccea4,
        9em 2em #fccea4,
        9em 3em #9c6634,
        9em 4em #000000,
        9em 5em #000000,
        9em 6em #000000,
        9em 7em #000000,
        9em 8em #2cbe04,
        9em 9em #845e44,
        9em 10em #2cbe04,
        9em 11em #049a04,
        9em 12em #000000,
        
        /* column 10 */
        10em -5em #049a04,
        10em -4em #2cbe04,
        10em -3em #2cbe04,
        10em -2em #2cbe04,
        10em -1em #2cbe04,
        10em 0 #049a04,
        10em 1em #fccea4,
        10em 2em #fccea4,
        10em 3em #fccea4,
        10em 4em #9c6634,
        10em 5em #3c2a04,
        10em 6em #049a04,
        10em 7em #2cbe04,
        10em 8em #2cbe04,
        10em 9em #2cbe04,
        10em 10em #845e44,
        10em 11em #2cbe04,
        10em 12em #000000,
        
        /* column 11 */
        11em -6em #049a04,
        11em -5em #049a04,
        11em -4em #2cbe04,
        11em -3em #2cbe04,
        11em -2em #2cbe04,
        11em -1em #2cbe04,
        11em 0 #2cbe04,
        11em 1em #049a04,
        11em 2em #fccea4,
        11em 3em #fccea4,
        11em 4em #3c2a04,
        11em 5em #3c2a04,
        11em 6em #000000,
        11em 7em #049a04,
        11em 8em #2cbe04,
        11em 9em #2cbe04,
        11em 10em #845e44,
        11em 11em #2cbe04,
        11em 12em #000000,
        
        /* column 12 */
        12em -6em #049a04,
        12em -5em #049a04,
        12em -4em #2cbe04,
        12em -3em #2cbe04,
        12em -2em #2cbe04,
        12em -1em #2cbe04,
        12em 0 #2cbe04,
        12em 1em #3c2a04,
        12em 2em #3c2a04,
        12em 3em #3c2a04,
        12em 4em #f4e60c,
        12em 5em #f4e60c,
        12em 6em #fccea4,
        12em 7em #000000,
        12em 8em #049a04,
        12em 9em #2cbe04,
        12em 10em #845e44,
        12em 11em #2cbe04,
        12em 12em #000000,
        
        /* column 13 */
        13em -6em #049a04,
        13em -5em #049a04,
        13em -4em #2cbe04,
        13em -3em #2cbe04,
        13em -2em #2cbe04,
        13em -1em #f4e60c,
        13em 0 #f4e60c,
        13em 1em #f4e60c,
        13em 2em #f4e60c,
        13em 3em #f4e60c,
        13em 4em #f4e60c,
        13em 5em #000000,
        13em 6em #000000,
        13em 7em #049a04,
        13em 8em #049a04,
        13em 9em #049a04,
        13em 10em #845e44,
        13em 11em #2cbe04,
        13em 12em #000000,
        
        /* column 14 */
        14em -6em #049a04,
        14em -5em #049a04,
        14em -4em #2cbe04,
        14em -3em #f4e60c,
        14em -2em #f4e60c,
        14em -1em #f4e60c,
        14em 0 #f4e60c,
        14em 1em #fccea4,
        14em 2em #845e44,
        14em 3em #000000,
        14em 4em #000000,
        14em 5em #845e44,
        14em 6em #000000,
        14em 7em #2cbe04,
        14em 8em #2cbe04,
        14em 9em #049a04,
        14em 10em #2cbe04,
        14em 11em #2cbe04,
        14em 12em #000000,
        
        /*column 15*/
        15em -6em #049a04,
        15em -5em #049a04,
        15em -4em #049a04,
        15em -3em #f4e60c,
        15em -2em #f4e60c,
        15em -1em #9c6634,
        15em 0 #fccea4,
        15em 1em #fccea4,
        15em 2em #fccea4,
        15em 3em #fccea4,
        15em 4em #fccea4,
        15em 5em #fccea4,
        15em 6em #000000,
        15em 7em #2cbe04,
        15em 8em #2cbe04,
        15em 9em #049a04,
        15em 10em #2cbe04,
        15em 11em #000000,
        15em 12em #e40204,
        15em 13em #000000,
        
        /*column 16*/
        16em -6em #049a04,
        16em -5em #049a04,
        16em -4em #049a04,
        16em -3em #f4e60c,
        16em -2em #f4e60c,
        16em -1em #fccea4,
        16em 0 #fccea4,
        16em 1em #fccea4,
        16em 2em #fccea4,
        16em 3em #fccea4,
        16em 4em #fccea4,
        16em 5em #fccea4,
        16em 6em #000000,
        16em 7em #2cbe04,
        16em 8em #2cbe04,
        16em 9em #049a04,
        16em 10em #000000,
        16em 11em #e40204,
        16em 12em #e40204,
        16em 13em #000000,
        
        /* column 17 */
        17em -5em #000000,
        17em -4em #f4e60c,
        17em -3em #f4e60c,
        17em -2em #9c6634,
        17em -1em #fccea4,
        17em 0 #fccea4,
        17em 1em #000000,
        17em 2em #ffffff,
        17em 3em #ffffff,
        17em 4em #fccea4,
        17em 5em #fccea4,
        17em 6em #000000,
        17em 7em #049a04,
        17em 8em #2cbe04,
        17em 9em #000000,
        17em 10em #000000,
        17em 11em #e40204,
        17em 12em #e40204,
        17em 13em #000000,
        
        /* column 18 */
        18em -5em #000000,
        18em -4em #f4e60c,
        18em -3em #f4e60c,
        18em -2em #f4e60c,
        18em -1em #000000,
        18em 0 #fccea4,
        18em 1em #9c6634,
        18em 2em #2cbe04,
        18em 3em #2cbe04,
        18em 4em #fccea4,
        18em 5em #000000,
        18em 6em #9c6634,
        18em 7em #fccea4,
        18em 8em #fccea4,
        18em 9em #9c6634,
        18em 10em #000000,
        18em 11em #e40204,
        18em 12em #e40204,
        18em 13em #000000,
        
        /* column 19 */
        19em -5em #000000,
        19em -4em #f4e60c,
        19em -3em #f4e60c,
        19em -2em #f4e60c,
        19em -1em #000000,
        19em 0 #000000,
        19em 1em #000000,
        19em 2em #fccea4,
        19em 3em #fccea4,
        19em 4em #000000,
        19em 5em #000000,
        19em 6em #9c6634,
        19em 7em #fccea4,
        19em 8em #fccea4,
        19em 9em #9c6634,
        19em 11em #000000,
        19em 12em #000000,
        19em 13em #000000,
        
        /* column 20 */
        20em -5em #000000,
        20em -4em #f4e60c,
        20em -3em #f4e60c,
        20em -2em #000000,
        20em 2em #000000,
        20em 3em #000000,
        20em 5em #000000,
        20em 6em #000000,
        20em 7em #fccea4,
        20em 8em #9c6634,
        20em 9em #9c6634,
        20em 12em #000000,
        20em 13em #000000,
        
        /* column 21 */
        21em -5em #000000,
        21em -4em #000000,
        21em -3em #000000,
        21em 4em #000000,
        21em 5em #ffffff,
        21em 6em #000000,
        21em 7em #000000,
        21em 8em #9c6634,
        
        /* column 22 */
        22em 3em #000000,
        22em 4em #ffffff,
        22em 5em #ffffff,
        22em 6em #ffffff,
        22em 7em #000000,
        22em 8em #000000,
        
        /*column 23 */
        23em 2em #000000,
        23em 3em #ffffff,
        23em 4em #ffffff,
        23em 5em #ffffff,
        23em 6em #000000,
        23em 8em #000000,
        23em 9em #000000,
        
        /*column 24 */
        24em 1em #000000,
        24em 2em #ffffff,
        24em 3em #ffffff,
        24em 4em #ffffff,
        24em 5em #000000,
        
        /*column 25 */
        25em 0 #000000,
        25em 1em #ffffff,
        25em 2em #ffffff,
        25em 3em #ffffff,
        25em 4em #000000,
        
        /*column 26 */
        26em 0 #000000,
        26em 1em #ffffff,
        26em 2em #ffffff,
        26em 3em #000000,
        
        /*column 27 */
        27em 0 #000000,
        27em 1em #000000,
        27em 2em #000000;
}

.link-running {
    height: 7px;
    width: 7px;
    font-size: 7px;
    background: #000000;

    box-shadow:
    /* column -1 */
    -1em -2em #049a04,
    -1em -1em #000000,

    /* column 0 */
    0 -2em #049a04,
    0 -1em #049a04,

    /* column 1 */
    1em -2em #049a04,
    1em -1em #049a04,
    1em 0 #000000,
    
    /* column 2 */
    2em -3em #049a04,
    2em -2em #2cbe04,
    2em -1em #049a04,
    2em 0 #000000,
    
    /* column 3 */
    3em -3em #049a04,
    3em -2em #2cbe04,
    3em -1em #049a04,
    3em 0 #000000,
    
    /* column 4 */
    4em -4em #049a04,
    4em -3em #2cbe04,
    4em -2em #2cbe04,
    4em -1em #049a04,
    4em 0 #049a04,
    4em 1em #000000,
    4em 2em #000000,
    4em 3em #000000,
    4em 4em #000000,
    
    /* column 5 */
    5em -5em #049a04,
    5em -4em #2cbe04,
    5em -3em #2cbe04,
    5em -2em #049a04,
    5em -1em #049a04,
    5em 0 #049a04,
    5em 1em #000000,
    5em 2em #9c6634,
    5em 3em #9c6634,
    5em 4em #9c6634,
    5em 5em #000000,
    5em 10em #000000,
    5em 11em #000000,
    5em 12em #000000,
    5em 13em #000000,
    
    /* column 6 */
    6em -6em #049a04,
    6em -5em #2cbe04,
    6em -4em #2cbe04,
    6em -3em #2cbe04,
    6em -2em #2cbe04,
    6em -1em #049a04,
    6em 0 #049a04,
    6em 1em #049a04,
    6em 2em #000000,
    6em 3em #000000,
    6em 4em #9c6634,
    6em 5em #9c6634,
    6em 6em #000000,
    6em 7em #000000,
    6em 8em #000000,
    6em 9em #000000,
    6em 10em #000000,
    6em 11em #e40204,
    6em 12em #e40204,
    6em 13em #e40204,
    6em 14em #000000,
    
    /* column 7 */
    7em -6em #049a04,
    7em -5em #2cbe04,
    7em -4em #2cbe04,
    7em -3em #2cbe04,
    7em -2em #2cbe04,
    7em -1em #2cbe04,
    7em 0 #049a04,
    7em 1em #049a04,
    7em 2em #000000,
    7em 3em #000000,
    7em 4em #9c6634,
    7em 5em #000000,
    7em 6em #000000,
    7em 7em #049a04,
    7em 8em #2cbe04,
    7em 9em #049a04,
    7em 10em #000000,
    7em 11em #e40204,
    7em 12em #e40204,
    7em 13em #e40204,
    7em 14em #000000,
    
    /*column 8*/
    8em -6em #049a04,
    8em -5em #2cbe04,
    8em -4em #2cbe04,
    8em -3em #2cbe04,
    8em -2em #2cbe04,
    8em -1em #049a04,
    8em 0 #fccea4,
    8em 1em #fccea4,
    8em 2em #9c6634,
    8em 3em #000000,
    8em 4em #000000,
    8em 5em #000000,
    8em 6em #000000,
    8em 7em #2cbe04,
    8em 8em #845e44,
    8em 9em #2cbe04,
    8em 10em #049a04,
    8em 11em #000000,
    8em 12em #000000,
    8em 13em #000000,
    
    /* column 9 */
    9em -6em #049a04,
    9em -5em #2cbe04,
    9em -4em #2cbe04,
    9em -3em #2cbe04,
    9em -2em #2cbe04,
    9em -1em #049a04,
    9em 0 #fccea4,
    9em 1em #fccea4,
    9em 2em #fccea4,
    9em 3em #9c6634,
    9em 4em #3c2a04,
    9em 5em #049a04,
    9em 6em #2cbe04,
    9em 7em #2cbe04,
    9em 8em #2cbe04,
    9em 9em #845e44,
    9em 10em #2cbe04,
    9em 11em #000000,
    
    /* column 10 */
    10em -7em #049a04,
    10em -6em #049a04,
    10em -5em #2cbe04,
    10em -4em #2cbe04,
    10em -3em #2cbe04,
    10em -2em #2cbe04,
    10em -1em #2cbe04,
    10em 0 #049a04,
    10em 1em #fccea4,
    10em 2em #fccea4,
    10em 3em #3c2a04,
    10em 4em #3c2a04,
    10em 5em #000000,
    10em 6em #049a04,
    10em 7em #2cbe04,
    10em 8em #2cbe04,
    10em 9em #845e44,
    10em 10em #2cbe04,
    10em 11em #000000,
    
    /* column 11 */
    11em -7em #049a04,
    11em -6em #049a04,
    11em -5em #2cbe04,
    11em -4em #2cbe04,
    11em -3em #2cbe04,
    11em -2em #2cbe04,
    11em -1em #2cbe04,
    11em 0 #3c2a04,
    11em 1em #3c2a04,
    11em 2em #3c2a04,
    11em 3em #f4e60c,
    11em 4em #f4e60c,
    11em 5em #fccea4,
    11em 6em #000000,
    11em 7em #049a04,
    11em 8em #2cbe04,
    11em 9em #845e44,
    11em 10em #2cbe04,
    11em 11em #000000,
    
    /* column 12 */
    12em -7em #049a04,
    12em -6em #049a04,
    12em -5em #2cbe04,
    12em -4em #2cbe04,
    12em -3em #2cbe04,
    12em -2em #f4e60c,
    12em -1em #f4e60c,
    12em 0 #f4e60c,
    12em 1em #f4e60c,
    12em 2em #f4e60c,
    12em 3em #f4e60c,
    12em 4em #000000,
    12em 5em #000000,
    12em 6em #049a04,
    12em 7em #049a04,
    12em 8em #049a04,
    12em 9em #845e44,
    12em 10em #2cbe04,
    12em 11em #000000,
    12em 12em #000000,
    12em 13em #000000,
    
    /* column 13 */
    13em -7em #049a04,
    13em -6em #049a04,
    13em -5em #2cbe04,
    13em -4em #f4e60c,
    13em -3em #f4e60c,
    13em -2em #f4e60c,
    13em -1em #f4e60c,
    13em 0 #fccea4,
    13em 1em #845e44,
    13em 2em #000000,
    13em 3em #000000,
    13em 4em #845e44,
    13em 5em #000000,
    13em 6em #2cbe04,
    13em 7em #2cbe04,
    13em 8em #049a04,
    13em 9em #2cbe04,
    13em 10em #2cbe04,
    13em 11em #000000,
    13em 12em #e40204,
    13em 13em #e40204,
    13em 14em #000000,
    
    /*column 14*/
    14em -7em #049a04,
    14em -6em #049a04,
    14em -5em #049a04,
    14em -4em #f4e60c,
    14em -3em #f4e60c,
    14em -2em #9c6634,
    14em -1em #fccea4,
    14em 0 #fccea4,
    14em 1em #fccea4,
    14em 2em #fccea4,
    14em 3em #fccea4,
    14em 4em #fccea4,
    14em 5em #000000,
    14em 6em #2cbe04,
    14em 7em #2cbe04,
    14em 8em #049a04,
    14em 9em #2cbe04,
    14em 10em #000000,
    14em 11em #000000,
    14em 12em #e40204,
    14em 13em #e40204,
    14em 14em #000000,
    
    /*column 15*/
    15em -7em #049a04,
    15em -6em #049a04,
    15em -5em #049a04,
    15em -4em #f4e60c,
    15em -3em #f4e60c,
    15em -2em #fccea4,
    15em -1em #fccea4,
    15em 0 #fccea4,
    15em 1em #fccea4,
    15em 2em #fccea4,
    15em 3em #fccea4,
    15em 4em #fccea4,
    15em 5em #000000,
    15em 6em #2cbe04,
    15em 7em #2cbe04,
    15em 8em #049a04,
    15em 9em #000000,
    15em 11em #000000,
    15em 12em #e40204,
    15em 13em #e40204,
    15em 14em #000000,
    
    /* column 16 */
    16em -6em #000000,
    16em -5em #f4e60c,
    16em -4em #f4e60c,
    16em -3em #9c6634,
    16em -2em #fccea4,
    16em -1em #fccea4,
    16em 0 #000000,
    16em 1em #ffffff,
    16em 2em #ffffff,
    16em 3em #fccea4,
    16em 4em #fccea4,
    16em 5em #000000,
    16em 6em #049a04,
    16em 7em #2cbe04,
    16em 8em #000000,
    16em 9em #000000,
    16em 12em #000000,
    16em 13em #000000,
    
    /* column 17 */
    17em -6em #000000,
    17em -5em #f4e60c,
    17em -4em #f4e60c,
    17em -3em #f4e60c,
    17em -2em #000000,
    17em -1em #fccea4,
    17em 0 #9c6634,
    17em 1em #2cbe04,
    17em 2em #2cbe04,
    17em 3em #fccea4,
    17em 4em #000000,
    17em 5em #9c6634,
    17em 6em #fccea4,
    17em 7em #fccea4,
    17em 8em #9c6634,
    
    /* column 18 */
    18em -6em #000000,
    18em -5em #f4e60c,
    18em -4em #f4e60c,
    18em -3em #f4e60c,
    18em -2em #000000,
    18em -1em #000000,
    18em 0 #000000,
    18em 1em #fccea4,
    18em 2em #fccea4,
    18em 3em #000000,
    18em 4em #000000,
    18em 5em #9c6634,
    18em 6em #fccea4,
    18em 7em #fccea4,
    18em 8em #9c6634,
    
    /* column 19 */
    19em -6em #000000,
    19em -5em #f4e60c,
    19em -4em #f4e60c,
    19em -3em #000000,
    19em 1em #000000,
    19em 2em #000000,
    19em 4em #000000,
    19em 5em #000000,
    19em 6em #fccea4,
    19em 7em #9c6634,
    19em 8em #9c6634,
    
    /* column 20 */
    20em -6em #000000,
    20em -5em #000000,
    20em -4em #000000,
    20em 3em #000000,
    20em 4em #ffffff,
    20em 5em #000000,
    20em 6em #000000,
    20em 7em #9c6634,
    
    /* column 21 */
    21em 2em #000000,
    21em 3em #ffffff,
    21em 4em #ffffff,
    21em 5em #ffffff,
    21em 6em #000000,
    21em 7em #000000,
    
    /*column 22 */
    22em 1em #000000,
    22em 2em #ffffff,
    22em 3em #ffffff,
    22em 4em #ffffff,
    22em 5em #000000,
    22em 7em #000000,
    22em 8em #000000,
    
    /*column 23 */
    23em 0 #000000,
    23em 1em #ffffff,
    23em 2em #ffffff,
    23em 3em #ffffff,
    23em 4em #000000,
    
    /*column 24 */
    24em -1em #000000,
    24em 0 #ffffff,
    24em 1em #ffffff,
    24em 2em #ffffff,
    24em 3em #000000,
    
    /*column 25 */
    25em -1em #000000,
    25em 0 #ffffff,
    25em 1em #ffffff,
    25em 2em #000000,
    
    /*column 26 */
    26em -1em #000000,
    26em 0 #000000,
    26em 1em #000000;
}